[submodule "turtlebot3"]
	path = turtlebot3
	url = git@github.com:ROBOTIS-GIT/turtlebot3.git
[submodule "catkin_ws/src/turtlebot3"]
	path = catkin_ws/src/turtlebot3
	url = git@github.com:ROBOTIS-GIT/turtlebot3.git
[submodule "catkin_ws/src/turtlebot3_msgs"]
	path = catkin_ws/src/turtlebot3_msgs
	url = git@github.com:ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "catkin_ws/src/gazebo_ros_pkgs"]
	path = catkin_ws/src/gazebo_ros_pkgs
	url = git@github.com:ros-simulation/gazebo_ros_pkgs.git
[submodule "catkin_ws/src/turtlebot3_simulations"]
	path = catkin_ws/src/turtlebot3_simulations
	url = git@github.com:ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "catkin_ws/src/FinalProject/src/RRTandPRM"]
	path = catkin_ws/src/FinalProject/src/RRTandPRM
	url = git@github.com:deckard20202020/RRTandPRM.git
